
<style>
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
        .header-content p {
        margin-bottom: 0; /* Elimina el margen inferior del párrafo */
    }

    .header-content a {
        margin-bottom: 5px;
    }
</style>
<header class="hd-logout">
    <div class="header-content">
        <a class="btn btn-outline-dark btn-sm" href="/admin/productos" >
            Agregar Productos
            <i class="fas fa-sign-out-alt"></i> 
        </a>
        <p class="text-md">Bienvenido(a) {{persona}}</p>
        <a class="btn btn-outline-dark btn-sm" href="/admin/login/logout" >
            Cerrar Sesión
            <i class="fas fa-sign-out-alt"></i> 
        </a>
    </div>
</header>
    

<div class="contenedor-img">
{{#each productos}}
<div class="item">
    <figure>
         {{{imagen}}}
    </figure>
    <div class="info-item">
        <h2>{{pr_descripcion}}</h2>
        <p class="precio">Precio: ${{pr_precio}}</p>
        <p class="cantidad">Cantidad: {{pr_cantidad}}</p>

    </div>
</div>
{{/each}}
</div>